
@{
    ViewBag.Title = "LICENCIATURAS - cTeSP";
}

<div class="jumbotron">
    <h1>Inspiring IPTomar</h1>
    <p class="lead">Página em construção...Cursos</p>
    <p><a href="http://portal2.ipt.pt/pt/candidaturas/" class="btn btn-primary btn-lg"> Visite-nos! &raquo;</a></p>
</div>
