@{
    ViewBag.Title = "Inspiring IPTomar";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title</h2>
    </div>
    <div class="col-md-6" style="text-align:justify">
        <p>Hospedar-se no hotel California é entrar na elegância e conforto. Entre os seus 176 quartos, pode desfrutar de:</p>
        <ul>
            <li>1 Suite presidencial;</li>
            <li>5 Suites duplex</li>
            <li>4 Suites juniores</li>
            <li>4 Quartos superiores</li>
        </ul>
        <p>Todos têm terraço e vista panorâmica. Estão devidamente equipados com ar condicionado de controlo individual, TV via satélite, mini-bar, telefone directo, possibilidade de acesso à Internet e casas de banho com luz natural.</p>
    </div>
    <div class="col-md-6">
        @*<img class="img-responsive" src="~/Imags/OB-CZ627_rhotel_F_20090121205606.jpg" alt="">*@
    </div>
</div>