@{
    ViewBag.Title = "Inspiring IPTomar";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title</h2>
    </div>
    <div class="col-md-6" style="text-align:justify">
        <p>SITE EM CONSTRUÇÃO</p>
        <ul>
            <li>1 LICENCIATURA</li>
            <li>5 MESTRADO</li>
            <li>4 CTESP</li>
            
        </ul>
    
    </div>
    <div class="col-md-6">
        @*<img class="img-responsive" src="~/Imags/OB-CZ627_rhotel_F_20090121205606.jpg" alt="">*@
    </div>
</div>